DisableFormat: false

BasedOnStyle: LLVM
ColumnLimit: 160
IndentWidth: 2
MaxEmptyLinesToKeep: 2
FixNamespaceComments: false
NamespaceIndentation: None

EmptyLineBeforeAccessModifier: Leave

AlignEscapedNewlines: LeftWithLastLine
DerivePointerAlignment: false
PointerAlignment: Left

AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true

BreakInheritanceList: AfterColon

BreakBeforeConceptDeclarations: Never
BreakTemplateDeclarations: No
RequiresClausePosition: SingleLine
SpaceAfterTemplateKeyword: false

ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentExternBlock: NoIndent

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
