DisableFormat: false

BasedOnStyle: LLVM
ColumnLimit: 800
FixNamespaceComments: false

EmptyLineBeforeAccessModifier: Leave

AlignEscapedNewlines: LeftWithLastLine
DerivePointerAlignment: false
PointerAlignment: Left

AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true


BreakBeforeConceptDeclarations: Never
BreakTemplateDeclarations: No
ContinuationIndentWidth: 2
RequiresClausePosition: SingleLine
SpaceAfterTemplateKeyword: false

ConstructorInitializerIndentWidth: 2

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
