*

!.vscode
!.vscode/build.ps1
!.vscode/settings.json
!.vscode/tasks.json
!.clang-format
!.gitignore
!ywlib
!ywlib/ywlib-directx.hpp
!ywlib/ywlib-sjis.hpp
!ywlib/ywlib-std.hpp
!ywlib/ywlib-windows.hpp
!ywlib/ywlib-xv.hpp
!ywlib/ywlib.hpp
!ywlib/ywlib.ixx
!LICENSE
!README.MD

.vscode/environment.json
