*.ifc
*.dll
*.lib
*.obj
*.exe

!clui.dll
!c1xx.dll
!c2.dll
!cl.exe
!link.exe
!mspdbcore.dll
!tbbmalloc.dll

!advapi32.lib
!kernel32.lib
!libcmt.lib
!libcpmt.lib
!libucrt.lib
!libvcruntime.lib
!oldnames.lib
!user32.lib
!uuid.lib
!vcomp.lib
